<m3-base-page title="About">
    <p>
        My Money Manager is a sample app to research stock market and calculate value of a stock
        portfolio. It is a hobby project with no claims on accuracy and hence should not be used
        for real, however you are encouraged to give it a try and leave a feedback. Please note 
        that data collected may be used in any way and referenced in any publication at our sole
        discretion.
    </p>
    <p>
        This app uses data from external sources and you must bind to their terms of use.
    </p>
    <p>
        Data provided for free by IEX. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>
    </p>

</m3-base-page>