<m3-base-page title="About">
    <p>
        My Money Manager is a hobby project, just for fun of building application using 
        latest technologies & cloud. Primary components of the application are an Angular
        PWA, backend services built in NodeJS & .Net Core and hosted in AWS.
    </p>
    <p>
        It exhibits common functionality like researching stock market, building a stock
        portfolio and calculating value of portfolio based on market data. Although it performs 
        real calculations with actual market data, there is no claim on accuracy.
    </p>    
    <p>
        Please refer <a routerLink="/terms">Terms of Use</a> before using the application.
    </p>
</m3-base-page>