<div class="menu" *ngIf="userService.user">
    <nav style="background: unset;">
        <div class="nav-title">{{userService?.user.userName}}</div>
        <button mat-button color="accent" style="padding-left: 0" (click)="userService.logout()">
            <mat-icon style="padding-right: 5px; font-size: 21px;">exit_to_app</mat-icon>Logout
        </button>
    </nav>
    <nav>
        <div class="nav-title">Net Worth</div>
        <div class="nav-value">
            <a class="md-accent" href="#">{{123456789 | currency}}<mat-icon>double_arrow</mat-icon></a>
        </div>
    </nav>
    <nav>
        <div class="nav-title">Invested</div>
        <div class="nav-value">
            <a href="#">{{.999 | percent}}<mat-icon>double_arrow</mat-icon></a>
        </div>
    </nav>
    <nav>
        <div class="nav-title">Positions</div>
        <div class="nav-value">
            <a href="#">{{500}}<mat-icon>double_arrow</mat-icon></a>
        </div>
    </nav>
    <nav>
        <div class="nav-title">Dividends</div>
        <div class="nav-value">
            <a href="#">{{6574653 | currency}}<mat-icon>double_arrow</mat-icon></a>
        </div>
    </nav>
    <nav>
        <div class="nav-title">Appreciation</div>
        <div class="nav-value">
            <a href="#">{{(123456789 - 6574653)  | currency}}<mat-icon>double_arrow</mat-icon></a>
        </div>
    </nav>
</div>
<div class="menu" *ngIf="!userService.user">
    <nav style="background: unset;">
        <a mat-button color="accent" style="padding-left: 0" [href]="userService.authorizationUrl" 
            (click)="userService.preAuthorization()">
            <mat-icon style="padding-right: 5px; font-size: 21px;">account_circle</mat-icon>Login/Register
        </a>
        <div style="font-size: 13px; line-height: 17px; margin-top: 9px;">
            <div>Demo credentials</div>
            <div>User: <strong>demouser</strong></div>
            <div>Password: <strong>demouser</strong></div>
        </div>
        <!-- </p> -->
    </nav>
</div>