@import '~@angular/material/theming';

@mixin m3-app-theme($theme) {
    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    .side-nav {
        background-color: mat-color($background, background);
        //color: $light-secondary-text;
    }
    a {
        color: mat-color($accent);
    }
}