@import '~@angular/material/theming';

@mixin m3-app-theme($theme) {
    $background: map-get($theme, background);    
    .side-nav {
        background-color: mat-color($background, background);
        color: $light-secondary-text;
    }
}