.company-container {
    display: flex; 
    margin: 10px 0 10px 0;
}
.company-container-item-2 {
    margin-left: 10px;
}
.handsetLayout>.company-container-item-2 {
    margin-left: 0px;
    margin-top: 10px;
}
.company-field-name {
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}
.company-field-value {
    font-weight: 500;
}