.company-field-name {
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}
.company-field-value {
    font-weight: 500;
}
.company-section-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.company-section-content {
    margin-bottom: 20px;
}