<div class="menu">
    <mat-nav-list>
        <!-- <a mat-list-item href="..." *ngFor="let link of links"> {{ link }} </a> -->
        <a mat-list-item href="#">
            <mat-icon aria-hidden="false" aria-label="Recent">history</mat-icon>
            <span class="menu-label">Recent</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon aria-hidden="false" aria-label="Watch List">bookmarks</mat-icon>
            <span class="menu-label">Watch List</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon aria-hidden="false" aria-label="Recent">account_balance_wallet</mat-icon>
            <span class="menu-label">Portfolio</span>
        </a>
     </mat-nav-list>    
</div>