@import '~@angular/material/theming';

$light-app-primary: mat-palette($mat-blue, 900);
$light-app-accent:  mat-palette($mat-green, 700);
$light-app-warn: mat-palette($mat-red);
$light-app-theme: mat-light-theme($light-app-primary, $light-app-accent, $light-app-warn);

$dark-app-primary: mat-palette($mat-gray, 900);
$dark-app-accent:  mat-palette($mat-yellow, 500);
$dark-app-warn: mat-palette($mat-red, 500);

$dark-app-theme: mat-dark-theme($dark-app-primary, $dark-app-accent, $dark-app-warn);