@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family:   'Roboto, "Helvetica Neue", sans-serif',
    $display-4:     mat-typography-level(114px, 114px, 300, $letter-spacing: -0.05em),
    $display-3:     mat-typography-level(58px, 58px, 400, $letter-spacing: -0.02em),
    $display-2:     mat-typography-level(47px, 50px, 400, $letter-spacing: -0.005em),
    $display-1:     mat-typography-level(36px, 42px, 400),
    $headline:      mat-typography-level(26px, 34px, 400),
    $title:         mat-typography-level(22px, 34px, 500),
    $subheading-2:  mat-typography-level(18px, 30px, 400),
    $subheading-1:  mat-typography-level(17px, 26px, 400),
    $body-2:        mat-typography-level(16px, 26px, 500),
    $body-1:        mat-typography-level(16px, 24px, 400),
    $button:        mat-typography-level(16px, 16px, 500),
    $caption:       mat-typography-level(14px, 22px, 400),
    // Line-height must be unit-less fraction of the font-size.
    $input:         mat-typography-level(inherit, 1.125, 400)
    );

@include mat-core($custom-typography);

@import 'theme';
@import 'app/app.component';
@import 'app/site/header/header.component';
@import 'app/site/footer/footer.component';
@import 'app/site/navigation/navigation.component';

@mixin input-focus-blur-theme($theme) {
    $background: map-get($theme, accent);    
    // input:focus {
    //     background-color: mat-color($background, A100);
    // }
    // input:blur {
    //     background-color: inherit;
    // }
}

@mixin component-theme($theme) {
    @include m3-app-theme($theme);
    @include m3-header-theme($theme);
    @include m3-footer-theme($theme);
    @include navigation-theme($theme);
    @include input-focus-blur-theme($theme);
}

.m3-light-theme {
    @include angular-material-theme($light-app-theme);
    @include component-theme($light-app-theme);
}

.m3-dark-theme {
    @include angular-material-theme($dark-app-theme);
    @include component-theme($dark-app-theme);
}

html {
    height: 100%;
}
body { 
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    flex-direction: row;
}
.mat-body {
    font-size: 16px !important;
    line-height: 23px !important;
}

.handsetLayout {
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}