<m3-base-page title="Search">
  <!-- <input #search id="search" type="Search" placeholder="Enter symbol name to search" title="Enter symbol name to search"
    accesskey="s" [matAutocomplete]="symbolAutoComplete" (keyup.enter)="onSearch(search.value)"
    (input)="onChange(search.value)" (change)="onChange(search.value)">
   -->
  <mat-form-field class="search">
    <mat-label>Enter stock symbol to search</mat-label>
    <input #search id="search" matInput type="search" [(ngModel)]="value" [matAutocomplete]="symbolAutoComplete"
      (keyup.enter)="onSearch(search.value)" (input)="onChange(search.value)" (change)="onChange(search.value)">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-autocomplete class="test" #symbolAutoComplete="matAutocomplete" >
    <mat-option *ngFor="let stock of filteredStocks | async" [value]="stock.symbol">
      <span style="display: inline-block; width: 65px">{{stock.symbol}}</span>
      <span>{{stock.name}}</span>
    </mat-option>
  </mat-autocomplete>
</m3-base-page>