<input #search id="search" type="Search" placeholder="Symbol" title="Enter symbol name to search" accesskey="s"
  [matAutocomplete]="symbolAutoComplete" (keyup.enter)="onSearch(search.value)" (input)="onChange(search.value)"
  (change)="onChange(search.value)">
<mat-autocomplete class="test" #symbolAutoComplete="matAutocomplete" [panelWidth]="'auto'">
  <mat-option *ngFor="let symbol of filteredSymbols | async" [value]="symbol.symbol">
    <span style="display: inline-block; width: 55px">{{symbol.symbol}}</span>
    <span>{{symbol.name}}</span>
    <!-- <div style="line-height: 16px">
      <span style="display: inline-block; vertical-align: top">{{symbol.symbol}}</span>
      <span style="display: inline-block; margin-left: 16px; white-space: normal">{{symbol.name}}</span>
    </div> -->
  </mat-option>
</mat-autocomplete>