<m3-base-page title="Search">
  <mat-form-field class="search" cdkFocusInitial>
    <mat-label>Enter symbol to search</mat-label>
    <input #search id="search" matInput type="search" [(ngModel)]="symbol" (input)="onChange()">
    <button mat-button *ngIf="symbol" matSuffix mat-icon-button aria-label="Clear" (click)="resetSymbol()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-list style="padding: 0">
    <div *ngFor="let group of filteredSymbols | async | keyvalue">
      <div mat-subheader>{{group.key | uppercase}} ({{group.value.length}})</div>
      <mat-list-item *ngFor="let symbol of group.value">
        <div matLine style="font-size: 10px;">
          <span class="symbol-attribute-name">Exchange:</span>
          <span class="symbol-attribute-value">{{symbol.exchange}}</span>
          <span class="symbol-attribute-name">Region:</span>
          <span class="symbol-attribute-value">{{symbol.region}}</span>
          <span class="symbol-attribute-name">Currency:</span>
          <span class="symbol-attribute-value">{{symbol.currency}}</span>
        </div>
        <a matLine mat-button color="accent" [routerLink]="'/stock/' + symbol.symbol" class="search-item">
          <span> {{symbol.name}} ({{symbol.symbol}})</span>
        </a>
      </mat-list-item>
      <mat-divider style="margin-bottom: 10px;"></mat-divider>
    </div>
  </mat-list>
</m3-base-page>