@import '~@angular/material/theming';
.search {
    width:100%;
}
.search-item {
    padding: 0;
    margin: -10px;
    line-height: 18px;
    white-space: normal;
    text-align: left;
}
.symbol-attribute-name {
    font-weight: 300;
}
.symbol-attribute-value {
    font-weight: 400;
    margin-left: 2px;
    margin-right: 10px;
}