<div class="home-container">
    <div style="display: inline-block"><img [ngClass]="{'light-logo': isDarkTheme}" src="../../assets/logo.png" alt="logo"></div>
    <div style="display: inline-block">
        <div style="display: table-cell">
            <span style="display: block; font-weight: bolder; letter-spacing: 0px; margin: 30px 0 0; text-align: center" class="mat-display-3">My
                Money Manager</span>
            <span style="display: block; font-style: italic; text-align: center" class="mat-title">Stock exploration and portfolio tracking app</span>
        </div>
    </div>
</div>