@import '~@angular/material/theming';
.light-logo {
    filter: invert(100%);
}
.home-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%;
    @media screen and ($mat-xsmall) {
        flex-direction: column
    }
}
.name {
    font-weight: bolder; 
    letter-spacing: 0px; 
    margin: 30px 0 0;
    text-align: center;
}
.title {
    font-style: italic; 
    text-align: center
}