@import '~@angular/material/theming';

@mixin m3-header-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    .app-name {
        color: mat-color($primary, default-contrast);
    }
    #themeToggle {
        color: mat-color($foreground, text);
        display: block;
    }
}