@import '~@angular/material/theming';
$typography-config: mat-typography-config();

a {
    text-decoration: none;
}

.logo {
    filter: invert(100%);
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px 4px 8px;
}

.title {
    vertical-align: middle;
    @media screen and ($mat-xsmall) {
        //display: none
    }
}

.header-button {
    @media screen and ($mat-xsmall) {
        width: 36px !important;
    }
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 16px;
    font-size: mat-font-size($typography-config, subheading-2);
    line-height: 40px;
}

@media screen and ($mat-xsmall) {
    .mat-icon-button {
        width: 24px;
    }
}
.header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    position: relative;
    z-index: 2;
}